RESOURCE_PASSPHRASE="alpha beta charlie delta ......"
ALGO_API_KEY="abc123xyz"
ALGO_API_URL="https://testnet-algorand.api.purestake.io/ps2"
ALGO_INDEXER_URL="https://testnet-algorand.api.purestake.io/idx2"
NEXT_PUBLIC_LOCAL_CONTRACT_ID=88439288
NEXT_PUBLIC_GLOBAL_CONTRACT_ID=87552568
MORALIS_SERVER_URL="https://_____"
MORALIS_APP_ID="abcdefghijklmnop"
MORALIS_APP_MASTER_KEY="ABCDEF123456"